//get the stuff to reset etc.
@import "reset";
//and get the mixins
@import "mixins";

main {
  font-family: $fontFamily;
  color:$black;
  }

  //Intro
  .intro {
  width:100%;
  height:100vh;
  background-size:cover;
  background-position:center 100%;
  padding:40px 0 0 100px;

  h1, h2, p, a {
    font-weight:300;
    margin: 0;
    background-color:$white;
    padding:5px 10px;
  }

  h1, h2 {
    float:left;
    margin-bottom:20px;
  }

  h2 {
    clear:both;
  }

  nav {
    clear:both;

    ul {
      list-style:none;
      padding: 0;

      li {
        float:left;
        margin-right:20px;
      }

      li a {
        color:$black;
        width:100%;
      }

      li a:hover {
        background:$lime;
      }

      li a:focus {
        outline:none;
        background:$lime;
      }
    }
  }
}

//Work
.work {
  padding:40px 0 20px 100px;
  background-size:4px;
  background-image:linear-gradient(90deg, black 2px, $lime 2px);

  .wrapper--work {
    max-width:1000px;
  }

  h2 {
    font-weight:300;
    margin: 0;
    background-color:$black;
    color:$white;
    padding:5px 10px;
    display:inline-block;
  }

  ul {
      list-style:none;
      padding: 0;
      margin:20px 0 0 0;
      display:flex;
      flex-wrap:wrap;
      justify-content:flex-start;

      li {
        margin:0 20px 20px 0;
        flex:0 0 auto;
      }

      li a {
        background-color:$black;
        color:$white;
        width:100%;
        padding:5px 10px;
      }

      li a:hover {
        background:$lime;
        color:$black;
      }

      li a:focus {
        outline:none;
        background:$lime;
        color:$black;
      }
    }
}

//Contact
.contact {
  padding:40px 0 40px 100px;

  h2 {
    font-weight:300;
    margin: 0 0 20px 0;
    background-color:$black;
    color:$white;
    padding:5px 10px;
    display:inline-block;
  }
}

input, button , label{
  display:block;
}

textarea, .input--text {
  max-width:300px;
  width:100%;
  margin-bottom:20px;
  border:2px solid $black;
  background:$black;
  padding-left:10px;
}

textarea:focus, .input--text:focus {
  outline:2px solid $black;
  background:white;
}

.filled {
  background:$white;
}

button {
  clear:both;
  text-decoration:underline;
  color:$black;
  background:white;
  border:none;
  position: relative;
}

button::after {
  content:"💌";
  position: absolute;
  right:-30px;
  top:-4px;
  font-size:24px;
}
button:focus {
  outline: none;
  background:$lime;
}

button:focus:after {
  content:"✈️";
  outline:none;
  background:none;
}

button:hover {
  background:$lime;
}

button:hover:after{
  content:"✈️";
}

