//get the stuff to reset etc.
@import "reset";
//and get the mixins
@import "mixins";

main {
  font-family: $fontFamily;
  color:$black;
  width:100%;
  background-image:url("../images/website-background.png");
  height:100vh;
  background-size:cover;
  background-position:center;
  padding:40px 0 0 100px;

  h1, h2, p, a {
    font-weight:300;
    margin: 0;
    background-color:$white;
    padding:5px 10px;
  }

  h1, h2 {
    float:left;
    margin-bottom:20px;
  }

  h2 {
    clear:both;
  }

  nav {
    clear:both;

    ul {
      list-style:none;
      padding: 0;

      li {
        float:left;
        margin-right:20px;
      }

      li a {
        color:$black;
        width:100%;
      }

      li a:hover {
        background-color:$lime;
      }
    }
  }
}